.feed-container {
  display: flex;
  min-width: 0;
  flex-basis: 50%;
  padding-left: 32px;
  padding-right: 32px;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.posts-container {
  margin-top: 20px;
  width: 700px;
}

.post {
  max-width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #3e3e3e;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header .details {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color: #9a9a9a;
  line-height: 15px;
}

.post-header .details span:first-child {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 600;
  margin-bottom: 3px;
}

.avatar {
  min-height: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.post-content {
  margin-top: 15px;
  font-size: 14px;
}

.divider {
  background-color: #eeeeee;
  height: 1px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 15px;
  padding: 15px;
  background-color: #eeeeee;
  border-radius: 18px;
  width: 100%;
}

.content span:first-child {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 600;
  margin-bottom: 3px;
}
